<% layout("/layouts/boilerplate") %>

<body>
    <br><br>
    <div class="row offset-2" >
        <div class="col-8">
    <h3>Update Listing</h3>
    <br><br>
    <form method="post" action="/listings/<%= Listing.id %>?_method=PUT"  novalidate class="needs-validation" enctype="multipart/form-data">

        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" 
            name="listing[title]" 
            value="<%= Listing.title %>" 
            class="form-control" required>
        </div>
        
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" 
            value="<%= Listing.description %> "   
             class="form-control" required>
        </textarea>
        </div>
       

        <div class="mb-3">
            <label for="image" class="form-label">Upload new Image </label>
            <input type="file" 
            name="listing[image]"
             value="<%= Listing.image %>"
             class="form-control" >
        </div>
        
        <div class="row">
        <div class="mb-3 col-md-4" >
            <label for="number" class="form-label">Price</label>
            <input type="text" 
            name="listing[price]" 
            value="<%= Listing.price %>"
            class="form-control" required>

        </div>
         
        <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input type="text"
             name="listing[country]" 
             value="<%= Listing.country %>"
             class="form-control" required>
         </div>

        </div>
       
         <div class="mb-3">
            <label for="country" class="form-label">Location</label>
            <input type="text" 
            name="listing[location]" 
            value="<%= Listing.location %>"
            class="form-control" required>

         </div>
         <br><br><br>
        <button class="btn btn-dark add-btn">ADD</button>
        <br><br><br>
    </form>
</div>
</div>
<script>
    (() => {
    'use strict'
  
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    const forms = document.querySelectorAll('.needs-validation')
  
    // Loop over them and prevent submission
    Array.from(forms).forEach(form => {
      form.addEventListener('submit', event => {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }
  
        form.classList.add('was-validated')
      }, false)
    })
  })();
</script>
</body>

<script src="/public/js/script.js"></script>
